/* TODO: design your profile with CSS */
body {
  background-color: #F7F9FC;
}

div {
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
  width: 400px;
  margin: 20px auto;
  text-align: center;
}

h1, h2, #btn-blue {
  font-family: 'Roboto';
}

h1 {
  color: #575F7D;
}

h2 {
  color: #7ECE90;
}

#btn-blue {
  text-decoration: none;
  background-color: #6B72E1;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
}

#btn-blue:hover {
  background-color: #202345;
}

p {
  color: #575F7D;
}

img {
  height: 100px;
  border-radius: 50%;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  display: inline;
}

.list li a {
  color: rgb(171, 171, 171);
  font-size: 40px;
  margin: 0 12px;
}

.list li a:hover {
  color: rgb(43, 43, 43);
}